<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001734875927-7pqlmcmg3a1tpov0s8r8fc36rg9lke4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001734875927-7pqlmcmg3a1tpov0s8r8fc36rg9lke4g</string>
	<key>API_KEY</key>
	<string>AIzaSyBl-M5KV4wcJd3ZXklGQ_Ip2TNPUzeCJUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1001734875927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatroom</string>
	<key>PROJECT_ID</key>
	<string>chatroom-757b2</string>
	<key>STORAGE_BUCKET</key>
	<string>chatroom-757b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001734875927:ios:318b894121fc736266e552</string>
</dict>
</plist>